.energy-item .icon svg {
    width: 72px;
    height: 72px;
    flex-shrink: 0;
}

.energy-item .icon {
    border: 1px solid #E7E7E7;
    background: #FFFFFF;
    border-radius: 30px;
    width: 100%;
    height: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 20px;
    gap: 10px;
}