/*====================== Google fonts ========================*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

html {
    font-size: 100%;
     scroll-padding-top: 40px; 
}
:root {
	scroll-behavior: smooth;
}
html,
body,
header,
footer,
main,
nav,
section,
div,
menu,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
button {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Nunito Sans", sans-serif !important;
	background: #F5F6F8;
	color: #000000;
}



.mission-badge {
    color: #4C4C4C;
    background: linear-gradient(180deg, rgba(113, 191, 30, 0.1) 0%, rgba(2, 160, 233, 0.1) 100%);
    font-size: 1.25rem;
    font-weight: 600;
    padding: 8px 16px;
    display: inline-flex;
    align-self: flex-start;
    letter-spacing: 0.5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    position: relative;
    border: none;
    top: -1px;
}

.mission-badge::before {
	content: "";
	position: absolute;
	inset: 0;
	border-top-left-radius: 15px;
    border-top-right-radius: 15px;
	padding-top: 1px; /* border thickness */
	background: linear-gradient(270deg, #71BF1E 0%, #02A0E9 100%);
	-webkit-mask: 
		linear-gradient(#fff 0 0) content-box, 
		linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
	pointer-events: none;
	z-index: 0;
    height: calc(100% - 1px);
}

/* input and label stylings */

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.form-group label {
    font-size: 1.25rem;
    font-weight: 600;
    color: #000000;
}

.form-group input {
    padding: 12px 16px;
    border: 1px solid #E7E7E7;
    border-radius: 0.625rem;
    background-color: #FFFFFF;
    height: 3.125rem;
}

.form-group textarea {
    padding: 12px 16px;
    border: 1px solid #E7E7E7;
    border-radius: 0.625rem;
    background-color: #FFFFFF;
    height: 12.938rem;
    resize: none;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #71BF1E;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #999;
}

.contact-item {
    text-decoration: none;
    
}

.hide {
    display: none !important;
}

:disabled {
    opacity: .6;
}

/* webkit-scrollbar */

/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #71BF1E; 
    border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.iti {
  width: 100%;
}
.iti__flag-container {
  z-index: 10;
}

.form-group #phone {
    width: 100%;
}

/* main responsive stylings for all screenssss */



@media (min-width: 1440px) and (max-width: 1919px) {
    html {
        font-size: 75%;
    }
}

@media (min-width: 992px) and (max-width: 1439px) {
    html {
        font-size: 75%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    html {
        font-size: 55%;
    }
}


@media (min-width: 400px) and (max-width: 767px) {
    html {
        font-size: 75%;
    }
}


@media (max-width: 399px) {
    html {
        font-size: 70%;
    }
}