.side_menu ul li {
    padding: 10px ;
}

.side_menu ul li a:hover {
	color:#ffffff;
}

.header_area {
    position: relative;
    min-height: 74px;
}

.parent-container-for-search-input-and-btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

li.active  {
    font-size: 16px;
    font-weight: 400;
    background-color: rgba(113, 191, 30, 1); 
	border-radius: 10px;
}

/* @media (max-width:1350px) {
    .parent-container-for-search-input-and-btn {
        position: static;  
        left: auto;         
        transform: none;    

    }
    
} */
.main-right-col {
    overflow-x: auto;
}

.main-right {
    min-width: 1100px;
}

@media screen and (max-width: 767px) {
    .history_table table {
        width: 100% !important; 
    }
}